
<%= error_messages_for(form.object) %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<table class="table table-condensed" style="width: auto;">
	<thead>
	<tr>
		<th>Renner</th>
		<th>Nummer</th>
	</tr>
	</thead>
	<tbody>
	<%= form.fields_for :riders do |rider_form| %>
		<% rider = RiderDecorator.decorate(rider_form.object) %>
		<tr>
			<td><%= rider.name %></td>
			<td><%= rider_form.text_field :number, :class => "input-mini" %></td>
		</tr>
	<% end %>
	</tbody>
</table>
