
<%= error_messages_for(form.object) %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<table class="table table-condensed" style="width: auto;">
	<thead>
	<tr>
		<th>Renner</th>
		<th>Nummer</th>
    <th>Waarde</th>
    <th>Bevestigd</th>
    <th>Afgemeld</th>
    <th>Afgestapt</th>
	</tr>
	</thead>
	<tbody>
	<%= form.fields_for :riders do |rider_form| %>
		<% rider = RiderDecorator.decorate_collection(rider_form.object) %>
		<tr>
			<td><%= rider.name %></td>
			<td><%= rider_form.text_field :number, :class => "input-mini" %></td>
      <td><%= rider_form.text_field :price, :class => "input-mini" %></td>
      <td class="center"><%= rider_form.check_box :confirmed, :class => "" %></td>
      <td class="center"><%= rider_form.check_box :rejected, :class => "" %></td>
      <td class="center"><%= rider_form.check_box :abandoned, :class => "" %></td>
		</tr>
	<% end %>
	</tbody>
</table>
