<%= content_for(:title, "Teams") %>

<div class="teams-list">
  <div class="team team-header">
    <div class="team-jersey"></div>
    <div class="team-info">
      <div class="team-name">
        Naam
      </div>
      <div class="team-budget">
        Budget
      </div>
    </div>
    <div class="team-points">
      Punten
    </div>
  </div>
  <% @teams.each do |team| %>
    <div class="team">
      <div class="team-jersey">
        <%= image_tag team.riders.first.team_jersey_url, class: 'rider-jersey' %>
      </div>
      <div class="team-info">
        <div class="team-name">
          <%= link_to team.name, team_path(team) %>
        </div>
        <div class="team-budget">
          <%= team.budget %>
        </div>
      </div>
      <div class="team-points">
        <%= team.points %>
      </div>
    </div>
  <% end %>
</div>

<% if can? :create, Team %>
	<div class="well">
		<%= link_to "Nieuw team", new_team_path, :class => "btn btn-default" %>
	</div>
<% end %>

