<%= content_for(:title, "Teams") %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Budget</th>
    <th class="center">Punten</th>
  </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team_path(team) %></td>
    <td><%= team.budget %></td>
    <td class="center"><%= team.points %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% if can? :create, Team %>
	<div class="well">
		<%= link_to "Nieuw team", new_team_path, :class => "btn" %>
	</div>
<% end %>

