<%= content_for(:title, "Team <%= @team.name %>") %>

<p>Het team heeft een totaalbudget van <%= @team.budget %></p>

<%= render :partial => "riders/list", :locals => {:riders => @riders} %>

<div class="well">
	<% if can? :edit, Team  %>
		<%= link_to "Wijzig", edit_team_path(@team), :class => "btn" %>
	<% end  %>
	<%= link_to "Alle teams", teams_path, :class => "btn" %>
</div>