<% if subpools.any? %>
  <p>
    <% subpools.each do |subpool| %>
      <%= link_to subpool.name, subpool_path(subpool), class: 'btn btn-primary' %>
    <% end %>
  </p>
<% else %>
  <div class="alert alert-info">Je hebt je niet aangemeld bij een subpoele</div>
<% end %>

<% if can? :edit, @player %>
  <% if available_subpools(current_player).any? %>
    <h4>Aanmelden bij subpoele</h4>
    <%= form_for @subpool_player ||= SubpoolPlayer.new, html: { class: 'form-inline' } do |form| %>
      <%= render partial: 'subpool_players/form', object: form %>
      <div class="form-group">
        <%= form.submit 'Aanmelden', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
  <br />
  <%= link_to 'Maak een nieuwe subpoele aan', new_subpool_path %>
<% end %>
