<table class="table">
  <% if player_signed_in? %>
  <tr>
    <th width="25%">Manager</th>
    <td width="75%"><%= player.name %></td>
  </tr>
  <% end %>
  <tr>
    <th>Punten</th>
    <td><%= player.points.to_i %></td>
  </tr>
  <tr>
    <th>Geselecteerd</th>
    <td><%= player.riders_count_badge %></td>
  </tr>
  <tr>
    <th>Renners afgestapt</th>
    <td><%= player.riders.withdrawn.count %></td>
  </tr>
	<tr>
   <th>Budget</th>
   <td><%= player.budget %></td>
 </tr>
  <tr>
    <th>Uitgegeven</th>
    <td><%= player.expenses %></td>
  </tr>
  <% if player == current_player %>
  <tr>
    <th>Geld overgemaakt</th>
    <td>
			<%= player.paid %>
			<% unless player.paid? %>
				<span class="alert alert-small alert-warning">Het bedrag van €5,- kan overgemaakt worden naar rekeningnummer 155086073 t.n.v. B. Langeveld </span>
			<% end %>
		</td>
  </tr>
  <% end %>
</table>
