<% if can? :edit, @player %>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>E-mail</b></div>
    <div class="col-sm-8 col-md-4"><%= player.email %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>Manager</b></div>
    <div class="col-sm-8"><%= player.name %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>Punten</b></div>
    <div class="col-sm-8"><%= player.points.to_i %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>Geselecteerd</b></div>
    <div class="col-sm-8">
      <%= player.riders_count_label %>
      <%= player.substitutes_count_label %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>Renners afgestapt</b></div>
    <div class="col-sm-8"><%= player.riders.abandoned.count %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>Budget</b></div>
    <div class="col-sm-8"><%= player.budget %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>Uitgegeven</b></div>
    <div class="col-sm-8"><%= player.expenses %></div>
  </div>
  <% if player == current_player %>
  <div class="row">
    <div class="col-sm-4 col-md-3"><b>Geld overgemaakt</b></div>
    <div class="col-sm-8 col-md-6">
      <% if player.paid? %>
        <div class="alert alert-success">
          Het bedrag is overgemaakt
        </div>
      <% else %>
        <div class="alert alert-info">
          Het bedrag van €5,- kan overgemaakt worden naar IBAN NL06KNAB0256378266 t.n.v. B. Langeveld
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
