<%= content_for(:title, "Algemeen klassement") %>

<ul class="nav nav-pills">
	<li class="active"><%= link_to "Algemeen klassement", rankings_path %></li>
	<li><%= link_to "Dagklassementen", scores_rankings_path %></li>
</ul>

<div class="row">
  <div class="col-md-6">
    <h3 id="player_ranking">De ploegen</h3>
    <%= render :partial => "shared/player_ranking", :locals => {:players => @players, :stage => false, :overall => true} %>
  </div>
  <div class="col-md-6">
    <h3 id="rider_ranking">De renners</h3>
    <%= render :partial => "shared/rider_ranking", :locals => {:riders => @riders, :stage => false, :overall => true} %>
  </div>
</div>