<%= content_for(:title, "Scores") %>

<ul class="nav nav-tabs">
	<li><%= link_to "Algemeen klassement", rankings_path %></li>
	<li class="active"><%= link_to "Dagklassementen", scores_rankings_path %></li>
</ul>

<div class="well">
	<button id="toggle_stage_scores" class="btn btn-primary">Toon dagscores</button>
  <button id="toggle_scores" class="btn btn-default">Toon totaal scores</button>
</div>

<table class="table table-bordered table-condensed table-striped">
	<thead>
	<tr>
		<th></th>
		<% @stages.each do |stage| %>
		<th class="center"><%= link_to stage.number, stage_path(stage) %></th>
		<% end %>
	</tr>
	</thead>
	<tbody>
	<% @players.each do |player| %>
    <tr>
      <td><%= player.link_to %></td>
      <% @stages.each do |stage| %>
        <% player_stage_points = player.player_stage_points.detect{|psp| psp.stage_id == stage.id } %>
        <td class="center">
          <span class="">
            <span class="stage_points"><%= player_stage_points.points %></span>
            <span class="total_points" style="display: none;"><%= player_stage_points.total_points if stage.scores.any? %></span>
          </span>
        </td>
      <% end %>
    </tr>
	<% end %>
	</tbody>
</table>
