<%= form_for [@stage, score], html: { class: 'form-horizontal' } do |form| %>

  <%= error_messages_for(form.object) %>
  <div class="form-group">
    <%= form.label :number, class: 'control-label col-xs-4' %>
    <div class="col-xs-8">
      <%= form.number_field :number, :class => 'form-control', min: Rider.minimum(:number), max: Rider.maximum(:number), step: 1 %>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :category, class: 'control-label col-xs-4' %>
    <div class="col-xs-8">
      <%= form.select :category, score_category_options, {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :points, class: 'control-label col-xs-4' %>
    <div class="col-xs-8">
      <%= form.number_field :points, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8">
      <%= form.submit 'Opslaan', class: 'btn btn-primary' %>
      <%= link_to 'Annuleren', stage_scores_path(@stage), class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
