<%= content_for(:title, "Rit #{@stage.number} punten") %>

<table class="table">
  <thead>
  <tr>
    <th>Nummer</th>
    <th>Renner</th>
    <th>Categorie</th>
    <th>Uitslag</th>
    <th>Punten</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @scores.each do |score| %>
    <tr>
      <td><%= score.number %></td>
      <td><%= score.rider_name %></td>
      <td><%= score.category_name %></td>
      <td><%= score.ranking %></td>
      <td><%= score.points %></td>
      <td>
        <%= link_to 'Wijzig', edit_stage_score_path(@stage, score), class: 'btn btn-small' %>
        <%= link_to 'Wis', stage_score_path(@stage, score), class: 'btn btn-danger btn-small', method: :delete, confirm: 'Weet je het zeker?' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Nieuwe score</h3>
<%= render partial: 'form', locals: { score: Score.new, stage: @stage } %>

<%= link_to 'Terug naar het etappeoverzicht', stages_path, class: 'btn btn-default' %>
