<% overall = false unless defined?(:overall) %>

<div class="player-ranking-list">
  <% players.each_with_index do |player, i| %>
    <% points = player.sorted_points || player.points %>
    <div class="player-ranking">
      <div class="player-ranking-rank">
        <span class="badge"><%= i + 1 %></span>
      </div>
      <div class="player-ranking-team">
        <div class="player-ranking-team-name">
          <%= player.link_to %> <%= player.you_badge %>
        </div>
        <div class="player-ranking-team-manager">
          <%= player_signed_in? ? player.name : '..' %>
        </div>
      </div>
      <div class="player-ranking-points">
        <%= points %>
        <% if overall %>
          <span class="quiet small">
            +<%= player.stage_points(@stage) %>
          </span>
        <% end %>
      </div>
      <div class="player-ranking-stage">
        <%= link_to_player_result(player, @player, stage) if stage %>
      </div>
    </div>
  <% end %>
</div>