<% overall = false unless defined?(:overall) %>
<div class="player-ranking-list">
  <% riders.each_with_index do |rider, i| %>
    <% points = rider.sorted_points || rider.points %>
    <div class="player-ranking">
      <div class="player-ranking-rank">
        <span class="rank<%= ' rank-team' if rider.team_player?(@player) %>"><%= i + 1 %></span>
      </div>
      <div class="player-ranking-team">
        <div class="player-ranking-team-name">
          <%= rider.nationality_flag %> <%= rider.link_to %>
        </div>
        <div class="player-ranking-team-manager">
          <%= rider.team.name %> - <%= rider.players.count %>x gekozen
        </div>
      </div>
      <div class="player-ranking-points">
        <div class="player-ranking-points-total">
          <%= points %>
        </div>
        <% if overall %>
          <% stage_points = rider.stage_points(@stage).to_i %>
          <div class="player-ranking-points-stage">
            <% if stage_points > 0 %>+ <%= stage_points %><% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
