<% if player_riders.any? %>
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th width="2%" class="center"><%= link_to_sortable "Nr", :number %></th>
      <th width="20%">
        <%= link_to_sortable "Voornaam", :first_name %> -
        <%= link_to_sortable "Achternaam", :last_name %>

      </th>
      <th width="10%"><%= link_to_sortable "Team", :team_name %></th>
      <th width="15%">Reserve</th>
      <th width="5%"><%= link_to_sortable "Prijs", :price %></th>
      <th width="5%" class="center"><%= link_to_sortable "Punten", :points %></th>
      <th width="5%"><%= link_to_sortable "€ / pnt", :efficiency_in_cents %></th>
      <th width="10%" class="center">In koers</th>
    </tr>
    </thead>
    <tbody>
    <% player_riders.each do |player_rider| %>
      <%
         rider = player_rider.rider.decorate
         substitute = player_rider.rider.decorate
      %>
      <tr>
        <td class="center"><%= rider.number %></td>
        <td>
          <%= link_to rider.name, rider_path(rider) %>
        </td>
        <td><%= link_to rider.team_name, team_path(rider.team_id) %></td>
        <td><%= link_to substitute.name, rider_path(rider) %></td>
        <td><%= rider.price %></td>
        <td class="center"><%= rider.points %></td>
        <td><%= rider.efficiency %></td>
        <td class="center"><%= rider.in_race %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">Er zijn geen renners gevonden</div>
<% end %>