<% if player_riders.any? %>
  <div class="pr">
    <div class="pr-riders">
      <div class="pr-main-rider">
        <b>Team</b>
        <span class="label
                    <% if @player.model.can_pick_riders? %>label-danger
                    <% else %>label-success
                    <% end %>"><%= @player.riders.count %></span>
      </div>
      <div class="pr-substitute-rider">
        <b>Reserves</b>
      </div>
    </div>
    <div class="pr-points pr-points-header">Punten</div>
  </div>
    <% player_riders.each do |player_rider| %>
      <%
         rider = player_rider.rider.decorate
         substitute = player_rider.substitute_rider.try(:decorate)
      %>
      <div class="pr<%= " pr-out-of-race" if rider.out_of_race? %>">
        <div class="pr-riders">
          <div class="pr-main-rider">
            <div class="pr-flag">
              <%= rider.nationality_flag %>
            </div>
            <div class="pr-rider-team">
              <div class="pr-rider">
                <div class="pr-rider-name">
                  <%= link_to rider.name, rider_path(rider) %>
                </div>
              </div>
              <div class="pr-team">
                <div class="pr-team-jersey">
                  <%= rider.team_jersey %>
                </div>
                <div class="pr-team-name">
                  <%= rider.team_name %>
                </div>
              </div>
            </div>
            <div class="pr-info">
              <div class="pr-info-price">
                <%= rider.price %>
              </div>
              <div class="pr-info-skills">
                <%= render partial: 'shared/skills', locals: { rider: rider } %>
              </div>
            </div>
            <% if editable %>
            <div class="pr-edit">
              <%= link_to 'Wis',
                          rider_player_team_path(@player, :rider_id => player_rider.rider.id),
                          :method => :delete,
                          :class => "btn btn-danger btn-xs",
                          :title => "Haal renner uit team" %>
            </div>
            <% end %>
          </div>
          <% if substitute %>
            <div class="pr-substitute-rider <%= " pr-out-of-race" if substitute.out_of_race? %>">
              <div class="pr-flag">
                <%= substitute.nationality_flag %>
              </div>
              <div class="pr-rider-team">
                <div class="pr-rider">
                  <div class="pr-rider-name">
                    <%= link_to substitute.name, rider_path(substitute) %>
                  </div>
                </div>
                <div class="pr-team">
                  <div class="pr-team-jersey">
                    <%= substitute.team_jersey %>
                  </div>
                  <div class="pr-team-name">
                    <%= substitute.team_name %>
                  </div>
                </div>
              </div>
              <div class="pr-info">
                <div class="pr-info-price">
                  <%= substitute.price %>
                </div>
                <div class="pr-info-skills">
                  <%= render partial: 'shared/skills', locals: { rider: substitute } %>
                </div>
              </div>
              <% if editable %>
                <div class="pr-edit">
                  <%= link_to 'Wis',
                              substitute_player_team_path(@player, player_rider_id: player_rider.id, substitute_rider_id: player_rider.substitute_rider.id),
                              :method => :delete,
                              :class => "btn btn-danger btn-xs",
                              :title => "Haal renner uit team" %>
                </div>
              <% end %>
            </div>
          <% else %>
          <div class="pr-substitute-rider">
            <div class="pr-flag"></div>
            <div class="pr-rider-team">
              <div class="pr-rider">Reserve</div>
              <div class="pr-team">-</div>
            </div>
            <div class="pr-info">
              <div class="pr-info-price">
                <% if player_rider.substitute_rider %>
                  <%= player_rider.substitute_rider.price %>
                <% else %>
                  t.w.v. <%= number_to_euro(player_rider.rider.substitute_price) %>
                <% end %>
              </div>
            </div>
            <% if editable %>
              <div class="pr-edit">
                <%= link_to 'Kies',
                            pick_substitute_player_team_path(@player, :player_rider_id => player_rider.id),
                            class: 'btn btn-primary btn-xs',
                            title: 'Kies een reserverenner' %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="pr-points">
          <%= player_rider.points %>
        </div>
      </div>
    <% end %>
<% else %>
  <div class="alert alert-info">Er zijn geen renners gevonden</div>
<% end %>