<%= content_for(:title, "Wijzig team #{@player.team_name}") %>






<h2>Renners in team</h2>
<%= render :partial => "pick_riders", :locals => {:riders => @player_riders, :selected => true} %>

<% if @player.can_pick_riders? %>
	<h2>Te kiezen renners</h2>
	<%= render :partial => "riders/find_form" %>
	<%= render :partial => "pick_riders", :locals => {:riders => @riders, :selected => false} %>
	<%= paginate @riders %>
<% end %>

<div class="well clear">
  <%= link_to "Terug", player_path(@player), :class => "btn" %>
</div>


<table class="table table-bordered">
  <tr>
    <th>Uitgegeven</th>
    <td><%= @player.expenses %></td>
    <th>Budget</th>
    <td><%= @player.budget %></td>
  </tr>
  <tr>
    <th>Gekozen</th>
    <td><%= @player.riders.count %></td>
    <th>Te kiezen</th>
    <td><%= @player.riders_to_pick %></td>
  </tr>
</table>
