<%= content_for(:title, "Wijzig team".html_safe) %>

<%= render :partial => "player_teams/riders",
           locals: {
             player_riders: @player.player_riders.joins(:rider).order('riders.price DESC'),
             editable: true
           } %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Te kiezen Renners
      <span class="label
        <% if @player.model.budget_left > 0 %>label-primary
        <% else %>label-danger
        <% end %>"><%= @player.budget_left %></span>
    </h3>
  </div>
  <div class="panel-body">

    <% if @player.can_pick_riders? && @player.budget_left? %>

      <%= form_tag nil, :method => :get, :id => "riders_search", :class => "well" do %>

        <div class="row">
          <label class="input-sm col-sm-1" for="name">Naam</label>

          <div class="col-sm-4">
            <%= text_field_tag 'name', params[:name], :class => "form-control input-sm", :id => "name" %>
          </div>

          <label class="input-sm col-sm-1" for="team_id col-sm-1">Team</label>

          <div class="col-sm-5">
            <%= select_tag 'team_id', options_for_select_team_id, :class => "form-control input-sm col-sm-5" %>
          </div>
        </div>

        <div class="row">
          <label class="input-sm col-sm-1" for="price_from">Prijs</label>

          <div class="col-sm-4">
            <%= select_tag "price_from", options_for_select_price_from, :class => "form-control input-sm" %>
          </div>
          <label class="input-sm col-sm-1" for="price_to">t/m</label>

          <div class="col-sm-4">
            <%= select_tag "price_to", options_for_select_price_to, :class => "form-control input-sm" %>
          </div>
          <div class="col-sm-2">
            <%= submit_tag 'Zoek', class: 'btn btn-default btn-sm' %>
          </div>
        </div>
      <% end %>
      <% if @riders.any? %>
        <div class="row">
          <div class="col-sm-4"><%= link_to_sortable "Voornaam", :first_name %> - <%= link_to_sortable "Achternaam", :last_name %></div>
          <div class="col-sm-4"><%= link_to_sortable "Team", :team_name %></div>
          <div class="col-sm-3"><%= link_to_sortable "Prijs", :price %></div>
        </div>
        <% @riders.each do |rider| %>
          <div class="row" style="margin-top: 4px;">
            <div class="col-sm-4 nowrap">
              <%= rider.nationality_flag %>&nbsp;
              <%= link_to rider.name, rider_path(rider) %><br />
              <%= render partial: 'shared/skills', locals: { rider: rider } %>
            </div>
            <div class="col-sm-4 nowrap">
              <%= rider.team_jersey %>
              <small><%= link_to rider.team_name, team_path(rider.team) %></small>
            </div>
            <div class="col-sm-3"><%= rider.price %></div>
            <div class="col-sm-1">
              <%= link_to content_tag("span", "", :class => "glyphicon glyphicon-plus"),
                          rider_player_team_path(@player, :rider_id => rider.id),
                          :method => :post,
                          :class => "btn btn-primary btn-xs",
                          :title => "Kies renner" %>
            </div>
          </div>
        <% end %>

        <%= paginate @riders, theme: 'twitter-bootstrap-3' %>

      <% else %>
        <div class="alert alert-info">
          Geen renners gevonden
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <b>Geen renners</b>

        <p>Er zijn geen renners gevonden. Dit komt omdat je team compleet is of omdat je budget op is.</p>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Terug naar team", player_path(@player), :class => "btn btn-default" %>
