<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Kies reserverenner voor <%= @player_rider.rider.name %>
      <span class="label label-primary"><%= @player_rider.rider.substitute_price %></span>
    </h3>
  </div>
  <div class="panel-body">
    <%= form_tag nil, :method => :get, :id => "riders_search", :class => "well" do %>
      <%= hidden_field_tag 'player_rider_id', params[:player_rider_id] %>
      <div class="row">
        <label class="input-sm col-xs-1" for="name">Naam</label>
        <div class="col-xs-4">
          <%= text_field_tag 'name', params[:name], :class => "form-control input-sm", :id => "name" %>
        </div>

        <label class="input-sm col-xs-1" for="team_id col-xs-1">Team</label>
        <div class="col-xs-5">
          <%= select_tag 'team_id', options_for_select_team_id, :class => "form-control input-sm col-xs-5" %>
        </div>
      </div>

      <div class="row">
        <label class="input-sm col-xs-1" for="price_from">Prijs</label>
        <div class="col-xs-4">
          <%= select_tag "price_from", options_for_select_price_from, :class => "form-control input-sm" %>
        </div>
        <label class="input-sm col-xs-1" for="price_to">t/m</label>
        <div class="col-xs-4">
          <%= select_tag "price_to", options_for_select_price_to, :class => "form-control input-sm" %>
        </div>
        <div class="col-xs-2">
          <%= submit_tag 'Zoek', class: 'btn btn-default btn-sm' %>
        </div>
      </div>
    <% end %>
    <% if @riders.any? %>
      <div class="row">
        <div class="col-xs-1"><%= link_to_sortable "Nr", :number %></div>
        <div class="col-xs-4"><%= link_to_sortable "Voornaam", :first_name %> - <%= link_to_sortable "Achternaam", :last_name %></div>
        <div class="col-xs-3"><%= link_to_sortable "Team", :team_name %></div>
        <div class="col-xs-3"><%= link_to_sortable "Prijs", :price %></div>
      </div>
      <% @riders.each do |rider| %>

        <div class="row" style="margin-top: 4px;">
          <div class="col-xs-1"><%= rider.number %></div>
          <div class="col-xs-4">
            <%= rider.nationality_flag %>&nbsp;
            <b><%= rider.name %></b><br />
            <%= render partial: 'shared/skills', locals: { rider: rider } %>
          </div>
          <div class="col-xs-3">
            <%= rider.team_jersey %>
            <small><%= rider.team_name %></small>
          </div>
          <div class="col-xs-3"><%= rider.price %></div>
          <div class="col-xs-1">
            <%= link_to content_tag("span", "", :class => "glyphicon glyphicon-plus"),
                        substitute_player_team_path(@player, player_rider_id: @player_rider.id, rider_id: rider.id),
                        :method => :post,
                        :class => "btn btn-primary btn-xs",
                        :title => "Kies renner" %>
          </div>
        </div>
      <% end %>

      <%= paginate @riders, theme: 'twitter-bootstrap-3' %>

    <% else %>
      <div class="alert alert-info">
        Geen renners gevonden
      </div>
    <% end %>
  </div>
</div>