<h2>Inloggen</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <label for="remember_me" class="checkbox">
        <%= f.check_box :remember_me %>
        Onthoud mij
      </label>
    </div>
  <% end -%>

  <div><%= f.submit "Inloggen", :class => "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
