<div class="leader">

  <div class="leader-title"></div>

  <div class="leader-body">
    <div class="leader-login">
      <h2 class="login-title">Login op je poele</h2>

      <div class="login-form">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: 'col-sm-6 control-label' %>
            <div class="col-sm-6">
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, class: 'col-sm-6 control-label' %>
            <div class="col-sm-6">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="col-sm-offset-6 col-sm-6">
                <div class="checkbox">
                  <label class="checkbox">
                    <%= f.check_box :remember_me %>
                    Onthoud mij
                  </label>
                </div>
              </div>
            </div>
          <% end -%>

          <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6">
              <%= f.submit "Inloggen", :class => "btn btn-default btn-block" %><br />
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                <%= link_to "Wachtwoord vergeten?", new_password_path(resource_name) %>
              <% end -%>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <label class="control-label col-sm-6 text-right">Heb je nog geen poele?</label>
            <div class="col-sm-4">
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Inschrijven", new_registration_path(resource_name), :class => "btn btn-primary btn-block" %>
              <% end -%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="leader-signup">
      <ul>
        <li>20 Miljoen budget</li>
        <li>9 renners</li>
        <li>9 reserverenners</li>
        <li>5 Euro inleg</li>
        <li><%= link_to 'Schrijf je hier in', new_registration_path(resource_name), class: 'btn btn-primary btn-block' %></li>
      </ul>
    </div>

  </div>



</div>

<h3>De volgende teams hebben zich aangemeld</h3>

<%= Player.active.pluck(:team_name).join(', ') %>