<%= content_for(:title, "Welkom bij Toerdepoele!") %>
<% if @stage %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#stage_ranking" data-toggle="tab">Dagklassement etappe <%= @stage.number %></a></li>
  <li><a href="#overall_ranking" data-toggle="tab">Algemeen klassement</a></li>
</ul>

<div class="tab-content">
   
  <div class="tab-pane active" id="stage_ranking">
    <h2>Dagklassement Top 10</h2>
    <div class="row">
      <div class="span6">
        <h3 id="player_ranking">De ploegen</h3>
        <%= render :partial => "shared/player_ranking", :locals => {:players => @stage_players, :stage => false} %>
      </div>
      <div class="span6">
        <h3 id="rider_ranking">De renners</h3>
        <%= render :partial => "shared/rider_ranking", :locals => {:riders => @stage_riders, :stage => false} %>
      </div>
    </div>
    <div class="clear"><%= link_to "Bekijk alle uitslagen van de laatste etappe", stage_path(@stage, :player_id => @player.id), :class => "btn btn-primary" %></div>
  </div>
  
  <div class="tab-pane" id="overall_ranking">
    <h2>Algemeen klassement top 10</h2>
    <div class="row">
      <div class="span6">
        <h3 id="player_ranking">De ploegen</h3>
        <%= render :partial => "shared/player_ranking", :locals => {:players => @players, :stage => false, :overall => true} %>
      </div>
      <div class="span6">
        <h3 id="rider_ranking">De renners</h3>
        <%= render :partial => "shared/rider_ranking", :locals => {:riders => @riders, :stage => false, :overall => true} %>
      </div>
    </div>
    <div class="clear"><%= link_to "Bekijk het klassement", rankings_path(:player_id => @player.id), :class => "btn btn-primary" %></div>
  </div>

</div>
<% else %>
<p>Er zijn nog geen uitslagen ingevoerd</p>
<% end %>