<div class="leader">

  <div class="intro-text">
    <ul>
      <li>20 Miljoen budget</li>
      <li>9 renners</li>
      <li>9 reserverenners</li>
      <li>5 Euro inleg</li>
      <li><%= link_to 'Schrijf je hier in', class: 'btn btn-primary' %></li>
    </ul>
  </div>

  <div class="login">
    <h2 class="login-title">Meld je nu aan of login op je poele</h2>
    <div class="login-form">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'col-xs-2 control-label' %>
          <div class="col-xs-4">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'col-xs-2 control-label' %>
          <div class="col-xs-4">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-4">
              <div class="checkbox">
                <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  Onthoud mij
                </label>
              </div>
            </div>
          </div>
        <% end -%>

        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-4">
            <%= f.submit "Inloggen", :class => "btn btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>


</div>




<h3>De volgende teams hebben zich aangemeld</h3>
<%= Player.active.pluck(:team_name).join(', ') %>
