<%= form.object.errors.full_messages.join("<br />").html_safe if form.object.errors.any? %>

<div class="form-group">
  <%= form.label :name, class: 'col-xs-2 control-label' %>
  <div class="col-xs-10">
    <%= form.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= form.label :team_name, class: 'col-xs-2 control-label' %>
  <div class="col-xs-10">
    <%= form.text_field :team_name, class: 'form-control' %>
  </div>
</div>

<% if can? :create, Player %>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <div class="checkbox">
        <%= form.label :paid do %>
          <%= form.check_box :paid %>
          Betaald
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <div class="checkbox">
        <%= form.label :disabled do %>
          <%= form.check_box :disabled %>
          Inactief
        <% end %>
      </div>
    </div>
  </div>
<% end %>