<%= form.object.errors.full_messages.join("<br />").html_safe if form.object.errors.any? %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :team_name %>
  <%= form.text_field :team_name %>
</div>

<div>
  <%= form.label :paid %>
  <%= form.check_box :paid %>
</div>
