<div class="pick-riders">
  <table class="table table-condensed table-small">
    <thead>
    <tr>
      <th>Naam</th>
      <th>Team</th>
      <th class="right">Waarde</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% riders.each do |rider| %>
    <tr>
      <td><%= rider.name %></td>
      <td><%= rider.team_name %></td>
      <td class="right"><%= rider.price %></td>
      <% if selected -%>
        <td class="center">
          <%= link_to content_tag("i", "", :class => "icon-minus"), rider_player_path(@player, :rider_id => rider.id), :method => :delete, :class => "btn btn-danger btn-mini" %>
        </td>
      <% else -%>
        <td class="center">
          <%= link_to content_tag("i", "", :class => "icon-plus"), rider_player_path(@player, :rider_id => rider.id), :method => :put, :class => "btn btn-primary btn-mini" %>
        </td>
      <% end -%>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>