<%= content_for(:title, "Wijzig deelnemer") %>

<%= form_for @player do |form| %>

  <%= render form %>

  <div>
    <%= form.submit "Opslaan", :class => "btn btn-primary" %>
    <%= link_to "Annuleren", player_path(@player), :class => "btn" %>
  </div>

<% end %>