<%= content_for(:title, "Deelnemers") %>

<%= paginate @players %>
<table class="table">
  <thead>
  <tr>
    <th>Team</th>
    <th>Manager</th>
    <th class="center">Renners</th>
    <th class="center">Punten</th>
    <th>Uitgegeven</th>
		<% if current_player.admin? %>
      <th>E-mail</th>
      <th class="center">Actief</th>
      <th class="center">Betaald</th>
			<th class="center">Admin</th>
		<% end %>
  </tr>
  </thead>
  <tbody>
  <% @players.each do |player| %>
  <tr>
    <td><%= player.link_to %></td>
    <td><%= player.name %> <%= player.you_badge %></td>
    <td class="center">
      <%= player.riders_count_badge %>
    </td>
    <td class="center"><%= player.points %></td>
    <td><%= player.expenses %></td>
		<% if current_player.admin? %>
      <td><%= player.email %></td>
      <td class="center"><%= player.toggle_disabled %></td>
      <td class="center"><%= player.toggle_paid %></td>
			<td class="center"><%= bool_icon player.admin? %></td>
		<% end %>
  </tr>
  <% end %>
  </tbody>
</table>

<hr/>

<% if can? :create, Player %>
  <%= link_to "Nieuwe deelnemer", new_player_path, :class => "btn btn-default" %>
<% end %>