<h1>Deelnemers</h1>

<table class="table">
  <thead>
  <tr>
    <th>team</th>
    <th>manager</th>
    <th class="center">renners</th>
    <th class="center">punten</th>
    <th>uitgaven</th>
  </tr>
  </thead>
  <tbody>
  <% @players.each do |player| %>
  <tr>
    <td><%= link_to player.team_name, player_path(player) %></td>
    <td><%= player.name %></td>
    <td class="center">
      <%= player.riders_count_badge %>
    </td>
    <td class="center"><%= player.points %></td>
    <td><%= player.expenses %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<div class="well">
  <%= link_to "Nieuwe deelnemer", new_player_path, :class => "btn" %>
</div>