<%= content_for(:title, "Nieuwe deelnemer") %>

<%= form_for @player, html: { class: 'form-horizontal' }  do |form| %>

  <%= render form %>

  <div class="form-group">
    <%= form.submit "Opslaan", :class => "btn btn-primary" %>
    <%= link_to "Annuleren", players_path(), :class => "btn btn-default" %>
  </div>
  
<% end %>