<h1>Kies renners voor <%= @player.team_name %></h1>

<table class="table table-bordered">
  <tr>
    <th>Uitgegeven</th>
    <td><%= @player.expenses %></td>
    <th>Budget</th>
    <td><%= @player.budget %></td>
  </tr>
  <tr>
    <th>Gekozen</th>
    <td><%= @player.riders.count %></td>
    <th>Te kiezen</th>
    <td><%= @player.riders_to_pick %></td>
  </tr>
</table>

<% if @player.team_ready? %>
  <div class="alert alert-success">
    Het team is klaar voor de tour!
  </div>
<% else %>
  <div class="alert alert-warning">
    Het team is nog niet gereed, kies <%= Player::MAX_RIDERS %> renners en besteed maximaal <%= number_to_euro Player::BUDGET * 100000 %>.
  </div>
<% end %>


<div class="row">

  <div class="span6">
      <h2>
        Te kiezen renners
        <%= link_to "Zoek naar renners", "#search", :data => {:toggle => "modal"}, :class => "btn#{" btn-primary" if @search}"  %>
        <%= link_to "Wis selectie", pick_player_path(@player), :class => "btn" if @search %>
      </h2>

    <%= render :partial => "pick_riders", :locals => {:riders => @riders, :selected => false} %>
  </div>

  <div class="span6">
    <h2>Renners in team</h2>
    <%= render :partial => "pick_riders", :locals => {:riders => @player.riders, :selected => true} %>
  </div>

</div>

<div class="modal hide" id="search">
  <%= form_tag pick_player_path(@player), :class => "form-horizontal", :method => :get, :style => "margin-bottom: 0px;" do |form| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Zoeken naar renners</h3>
    </div>
    <div class="modal-body">
      <fieldset class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="name">Naam</label>
          <div class="controls">
            <%= text_field_tag "name", params[:name], :class => "input-small", :id => "name" %>
            <p class="help-block">Zoek op voor en/of achternaam</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="team_id">Team</label>
          <div class="controls">
            <%= select_tag "team_id", content_tag("option") + options_from_collection_for_select(Team.all, :id, :name, params[:team_id].to_i), :class => "input-medium" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="price_from">Prijs vanaf</label>
          <div class="controls">
            <%= select_tag "price_from", content_tag("option") + options_for_select((Rider.minimum(:price)..Rider.maximum(:price)).step(2).to_a.map{|s| ["#{number_to_euro s.to_i * 100000}", s]}, params[:price_from].to_i), :class => "input-medium" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="price_to">Prijs tot</label>
          <div class="controls">
            <%= select_tag "price_to", content_tag("option") + options_for_select((Rider.minimum(:price)..Rider.maximum(:price)).step(2).to_a.map{|s| ["#{number_to_euro s.to_i * 100000}", s]}, params[:price_to].to_i), :class => "input-medium" %>
          </div>
        </div>
      </fieldset>

    </div>
    <div class="modal-footer">
      <%= submit_tag "zoek", :class => "btn btn-primary" %>
      <%= link_to "Annuleren", "#", :class => "btn", :data => {:dismiss => "modal"} %>
    </div>
  <% end %>
</div>

<div class="well clear">
  <%= link_to "Terug", player_path(@player), :class => "btn" %>
</div>