<%= content_for(:title, "#{@player.team_name}".html_safe) %>

<h2>Team</h2>
<%= render :partial => "player_teams/riders",
           :locals => { :player_riders => @player.player_riders } %>

<% if can? :edit, @player %>
  <%= link_to "Wijzig team", edit_player_team_path(@player), :class => "btn btn-default" %>
<% end %>

<hr/>

<h2>Gegevens</h2>
<%= render :partial => "players/shared/information", :locals => {:player => @player} %>

<% if can? :edit, @player %>
  <%= link_to "Wijzig gegevens", edit_player_path(@player), :class => "btn btn-default" %>
<% end %>

<hr/>

<h2>Subpools</h2>
<%= render :partial => "subpools/list", :locals => {:subpools => @player.subpools} %>

<hr/>

<h2>Uitslagen per etappe</h2>
<%= render :partial => "players/points_per_stage", :locals => {:player => @player} %>

<%= link_to "Bekijk alle deelnemers", players_path, :class => "btn btn-default" %>
