<%= content_for(:title, "#{@player.team_name}") %>
<h2>Informatie</h2>
<%= render :partial => "players/shared/information", :locals => {:player => @player} %>
<h2>Team</h2>
<%= render :partial => "riders/list", :locals => {:riders => @player.riders} %>

<div class="well">
  <% if can? :edit, @player %>
    <%= link_to "Wijzig deelnemer", edit_player_path(@player), :class => "btn" %>
    <%= link_to "Kies renners", edit_player_team_path(@player), :class => "btn" %>
  <% end %>
  <%= link_to "Alle deelnemers", players_path, :class => "btn" %>
</div>
