<h1><%= @player.team_name %></h1>

<table class="table table-bordered">
  <tr>
    <th width="25%">Manager</th>
    <td width="75%"><%= @player.name %></td>
  </tr>
  <tr>
    <th>Punten</th>
    <td><%= link_to @player.points.to_i, points_player_path(@player) %></td>
  </tr>
  <tr>
    <th>Geselecteerd</th>
    <td><%= @player.riders_count_badge %> <%= link_to "renners", riders_player_path(@player) %></td>
  </tr>
  <tr>
    <th>Uitgegeven</th>
    <td><%= @player.expenses %></td>
  </tr>
  <tr>
    <th>Overig budget</th>
    <td><%= @player.budget %></td>
  </tr>
</table>


<div class="well">
  <%= link_to "Wijzig", edit_player_path(@player), :class => "btn" %>
  <%= link_to "Kies renners", pick_player_path(@player), :class => "btn" %>
  <%= link_to "Alle deelnemers", players_path, :class => "btn" %>
</div>