<h2>Wijzig etappe</h2>

<%= form_for @stage do |form| %>

  <div>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :distance %>
    <%= form.text_field :distance %>
  </div>

  <div>
    <%= form.label :ridden_on %>
    <%= form.date_select :ridden_on, :class => "input-small" %>
  </div>

  <div>
    <%= form.submit "Opslaan" %>
    <%= link_to "Annuleren", stages_path %>
  </div>

<% end %>