<%= content_for(:title, "Etappes") %>

<%= render :partial => "navigation" %>

<table class="table">
  <thead>
  <tr>
    <th>rit</th>
    <th>datum</th>
    <th>van > naar</th>
    <th>type</th>
    <th>afstand</th>
    <th class="center">uitslagen?</th>
  </tr>
  </thead>
  <tbody>
  <% @stages.each do |stage| %>
  <tr>
    <td><%= stage.number %></td>
    <td><%= stage.ridden_on %></td>
    <td><%= link_to stage.name, stage_path(stage) %></td>
    <td><%= stage.description %></td>
    <td><%= stage.distance %></td>
    <td class="center"><%= bool_icon stage.has_results? %></td>
  </tr>
  <% end %>
  </tbody>
</table>