<%= content_for(:title, "Etappe #{@stage.number} #{@stage.name}") %>

<%= render :partial => "navigation" %>

<%= render :partial => "stage_information" %>

<div class="well">
	<% if can? :edit, Team %>
  	<%= link_to "Wijzig", edit_stage_path(@stage), :class => "btn" %>
	<% end %>
  <%= link_to "Etappeoverzicht", stages_path, :class => "btn" %>
</div>

<div class="row">
	<div class="span6">
		<h2>Dagklassement</h2>
		<%= render :partial => "player_ranking" %>
	</div>
	<div class="span6">
		<h2>Rennersklassement</h2>
		<%= render :partial => "rider_ranking" %>
	</div>
</div>

