<%= content_for(:title, "Etappe #{@stage.number} #{@stage.name}") %>

<%= render :partial => "navigation" %>

<%= render :partial => "stage_information" %>

<% if can? :edit, Team %>
<div class="well">
  <%= link_to "Wijzig", edit_stage_path(@stage), :class => "btn" %>
</div>
<% end %>

<div class="row">
	<div class="span6">
		<h2 id="player_ranking">Dagklassement</h2>
		<%= render :partial => "player_ranking" %>
	</div>
	<div class="span6">
		<h2 id="rider_ranking">Rennersklassement</h2>
		<%= render :partial => "rider_ranking" %>
	</div>
</div>

