
<%= error_messages_for(form.object) %>

<div>
  <%= form.label :number %>
  <%= form.text_field :number, :class => "input-small" %>
</div>

<div>
 <%= form.label :first_name %>
 <%= form.text_field :first_name %>
</div>

<div>
 <%= form.label :last_name %>
 <%= form.text_field :last_name %>
</div>

<div>
 <%= form.label :team %>
 <%= form.collection_select :team_id, Team.select("id, name"), :id, :name %>
</div>

<div>
 <%= form.label :price %>
 <%= form.text_field :price %>
</div>

<div>
 <%= form.label :rejected do  %>
  <%= form.check_box :rejected %>
  Afgevallen
 <% end %>
</div>

<div>
  <%= form.label :stage_id, 'Afgestapt in etappe' %>
  <%= form.collection_select :stage_id, Stage.order('number'), :id, :name_with_number, include_blank: true %>
</div>
