<% if riders.any? %>
  <div class="rider-list">
    <div class="rider rider-header">
      <div class="rider-nr-flag"></div>
      <div class="rider-info">Renner</div>
      <div class="rider-in-race">Actief</div>
    </div>
    <% riders.each do |rider| %>
      <% rider = rider.decorate %>
      <div class="rider">
        <div class="rider-nr-flag">
          <div class="rider-nr">
            <%= rider.number %>
          </div>
          <div class="rider-flag">
            <%= rider.nationality_flag %>
          </div>
        </div>
        <div class="rider-info">
          <div class="rider-name-team-price">
            <div class="rider-name-team">
              <div class="rider-name">
                <%= link_to rider.name, rider_path(rider) %>
              </div>
              <div class="rider-team">
                <div class="rider-team-jersey">
                  <%= rider.team_jersey %>
                </div>
                <div class="rider-team-name">
                  <%= rider.team_name %>
                </div>
              </div>
            </div>
            <div class="rider-price">
              <%= rider.price %>
            </div>
          </div>
          <div class="rider-stats">
            <div class="rider-stats-skills">
              <%= render partial: 'shared/skills', locals: { rider: rider } %>
            </div>
            <div class="rider-stats-extra">
              <div class="rider-stats-age">
                <%= rider.age %>y
              </div>
              <div class="rider-stats-weight">
                <%= rider.weight %>kg
              </div>
              <div class="rider-stats-height">
                <%= rider.height %>cm
              </div>
            </div>
          </div>
        </div>
        <div class="rider-in-race">
          <%= rider.in_race_text %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
	<div class="alert alert-info">Er zijn geen renners gevonden</div>
<% end %>