<% if riders.any? %>
<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th width="2%" class="center"><%= link_to_sortable "Nr", :number %></th>
    <th width="2%"><%= link_to_sortable "N", :nationality %></th>
    <th width="30%"><%= link_to_sortable "Voornaam", :first_name %> - <%= link_to_sortable "Achternaam", :last_name %></th>
		<th width="20%"><%= link_to_sortable "Team", :team_name %></th>
    <th width="5%"><%= link_to_sortable "Prijs", :price %></th>
    <th width="5%"><%= link_to_sortable "Leeftijd", :age %></th>
    <th width="5%"><%= link_to_sortable "Gewicht", :weight %></th>
    <th width="5%"><%= link_to_sortable "Lengte", :height %></th>
    <th width="5%" class="center">In koers</th>
  </tr>
  </thead>
  <tbody>
  <% riders.each do |rider| %>
  <% rider = rider.decorate %>
  <tr>
    <td class="center"><%= rider.number %></td>
    <td><%= rider.nationality_flag %></td>
    <td class="nowrap">
      <%= link_to rider.name, rider_path(rider) %><br />
      <%= render partial: 'shared/skills', locals: { rider: rider } %>
    </td>
    <td class="nowrap">
      <%= rider.team_jersey %>
		  <%= link_to rider.team_name, riders_path(team_id: rider.team_id) %>
    </td>
    <td class="nowrap"><%= rider.price %></td>
    <td><%= rider.age %></td>
    <td><%= rider.weight %> kg</td>
    <td><%= rider.height %> cm</td>

    <td class="center"><%= rider.in_race_text %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
	<div class="alert alert-info">Er zijn geen renners gevonden</div>
<% end %>