<h2>Wijzig renner</h2>

<%= form_for @rider do |form| %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :team %>
    <%= form.collection_select :team_id, Team.select("id, name"), :id, :name %>
  </div>

  <div>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit "Opslaan" %>
    <%= link_to "Annuleren", rider_path(@rider) %>
  </div>

<% end %>