<h1>Renners</h1>

<%= render :partial => "riders/find_form" %>

<%= paginate @riders %>

<%= render :partial => "riders/list", :locals => { :riders => @riders, :teams => false } %>

<%= paginate @riders %>

<% if can? :create, Rider %>
  <div class="well">
    <%= link_to "Nieuwe renner", new_rider_path, :class => "btn" %>
  </div>
<% end %>