<%= content_for(:title, "Renners") %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render :partial => "riders/find_form" %>
  </div>
</div>


<%= paginate @riders, theme: 'twitter-bootstrap-3' %>

<%= render :partial => "riders/list", :locals => { :riders => @riders, :teams => false } %>

<%= paginate @riders, theme: 'twitter-bootstrap-3' %>

<div class="clear">
  <% if can? :create, Rider %>
    <%= link_to "Nieuwe renner", new_rider_path, :class => "btn btn-default" %>
    <% if rider_params[:name].present? || rider_params[:team_id].present? %>
      <%= link_to "Wijzig renners", edit_index_riders_path(rider_params), :class => "btn btn-default" %>
    <% end %>
  <% end %>

</div>
