<%= content_for(:title, @rider.name) %>

<table class="table">
	<tbody>
	<tr>
		<th width="25%">Team</th>
		<td width="75%"><%= link_to @rider.team_name, riders_path(team_id: @rider.team_id) %></td>
	</tr>
	<tr>
		<th>Wedstrijdnummer</th>
		<td><%= if @rider.number.present? then @rider.number else "nog niet bekend" end %></td>
	</tr>
	<tr>
		<th>Aantal punten</th>
		<td><%= @rider.points %></td>
	</tr>
	<tr>
		<th>Prijs</th>
		<td><%= @rider.price %></td>
	</tr>
  <% if @rider.last_stage %>
  <tr>
    <th>Afgestapt na etappe</th>
    <td><%= @rider.last_stage.name_with_number %></td>
  </tr>
  <% end %>
  <% if race_started? %>
  <tr>
    <th>Efficiency</th>
    <td><%= @rider.efficiency %> per punt</td>
  </tr>
	<tr>
		<th>Gekozen door</th>
		<td><%= @rider.player_teams %></td>
	</tr>
  <% end %>
	</tbody>
</table>

<h3>Punten</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Etappe</th>
			<% @stages.each do |stage| %>
			<th width="5%" class="center"><%= link_to stage.number, stage_path(stage) %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Punten</th>
			<% @stages.each do |stage| %>
				<td width="5%" class="center"><%= @rider.stage_points(stage) || content_tag('span', 0, class: 'label danger') %></td>
			<% end %>
		</tr>
	</tbody>
</table>

<br/>

<%= link_to "Wijzig", edit_rider_path(@rider), :class => "btn btn-default" if can? :edit, Rider %>
<%= link_to "Alle renners", riders_path, :class => "btn btn-default" %>
