<%= content_for(:title, "#{@player.team_name}") %>

<h2>Mijn team</h2>

<% unless @player.riders.any? %>
  <div class="alert alert-warning">
    Je hebt nog geen renners geselecteerd voor je team.
    <% if can? :edit, @player %><%= link_to "Je kan deze hier selecteren", edit_player_team_path(@player) %>.<% end %>
  </div>
<% else %>
  <%= render :partial => "player_teams/riders", locals: { player_riders: @player.player_riders } %>
<% end %>

<div class="well">
  <% if can? :edit, @player %><%= link_to "Wijzig team", edit_player_team_path(@player), :class => "btn" %><% end %>
</div>

<h2>Mijn gegevens</h2>
<%= render :partial => "players/shared/information", :locals => {:player => @player} %>



<h2>Mijn subpools</h2>
<%= render :partial => "subpools/list", :locals => {:subpools => @player.subpools} %>
