<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= url_for summary_path %>">Toerdepoele 2012</a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "Overzicht", summary_path %></li>
          <li><%= link_to "Mijn poele", account_path %></li>
          <li><%= link_to "Etappes", stages_path %></li>
          <li><%= link_to "Renners", riders_path %></li>
          <% if player_signed_in? %>
          <li><%= link_to "Deelnemers", players_path %></li>
          <% end %>
          <li><%= link_to "Regels en puntentelling", rules_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>