<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= url_for summary_path %>">Toerdepoele 2013</a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li<% if controller?("summary") %> class="active"<% end %>><%= link_to "Overzicht", summary_path%></li>
          <li<% if controller?("account") %> class="active"<% end %>><%= link_to "Mijn poele", account_path %></li>
          <li<% if controller?("rankings") %> class="active"<% end %>><%= link_to "Klassement", rankings_path %></li>
          <li<% if controller?("stages") %> class="active"<% end %>><%= link_to "Etappes", stages_path %></li>
          <li<% if controller?("teams") %> class="active"<% end %>><%= link_to "Teams", teams_path %></li>
          <li<% if controller?("riders") %> class="active"<% end %>><%= link_to "Renners", riders_path %></li>
          <% if player_signed_in? %>
          <li<% if controller?("players", "player_teams") %> class="active"<% end %>><%= link_to "Deelnemers", players_path %></li>
          <% end %>
          <li<% if controller?("rules") %> class="active"<% end %>><%= link_to "Regels en puntentelling", rules_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>