<!DOCTYPE html>
<html>
<head>
  <title>TDF</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to "Etappes", stages_path %></li>
  <li><%= link_to "Renners", riders_path %></li>
  <li><%= link_to "Deelnemers", players_path %></li>
</ul>

<%= yield %>

</body>
</html>
